<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoVault</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1>CryptoVault</h1>

    <h2>Register</h2>
    <form method="post" action="/register">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>

    <h2>Login</h2>
    <form method="post" action="/login">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <input name="totp" placeholder="TOTP Code" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>
